.container {
    position: relative;
    width: 500px;
    height: 628px;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: arial;
    font-size: 24px;
    margin: 25px;
    display: flex;
    justify-content: right;
  }

  .form-group{
    padding-top: 20px;
  }
  .Sign-In{
    padding-top: 15px;
  }
  
  .signUp{
    font-family: arial;
    font-size: 14px;
    padding-top: 10px;
  }

  .child {
    width: 300px;
    height: 628px;
    position: absolute;
    top: 25%;
    right: 18%;
  }

